:root {
  --dark-purple: #9034c2;
  --light-purple: #ca35b1;
  --bright-pink: #d514b4;
  --dark-pink: #910f7b;
}

main {
  margin-bottom: 10rem;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
}
