.intro-mobile-container {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.625rem;
  width: 92%;
  margin: 1rem auto;
  margin-top: 3rem;
  line-height: 2.5rem;
}

.service-banner-container {
  margin: 2rem auto;
}

@media only screen and (min-width: 1024px) {
  .intro-mobile-container {
    text-align: left;
    width: 100%;
    margin-left: 6%;
    font-size: 2.5rem;
    line-height: 175%;
  }

  .service-banner-container {
    display: flex;
    width: 92%;
    margin: 5rem auto;
  }
}
