.company-name {
  text-align: center;
}

.company-name > * {
  text-decoration: none;
  color: var(--dark-purple);
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.nav-list > * {
  margin: 1rem;
}

.languages {
  display: flex;
  flex-direction: column;
  list-style: none;
}
