.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.navLinkList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.nav-link {
  font-family: "Roboto";
  color: var(--light-purple);
  font-weight: 500;
  text-decoration: none;
}

.language-list {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-evenly;
  width: 15%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.language-link {
  color: var(--light-purple);
  font-weight: 400;
  font-family: "roboto";
}

.booking-button {
  color: white;
  background-color: var(--dark-purple);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "roboto";
  font-weight: 700;
  border-radius: 3px;
  display: inline-block;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.25));
}

.booking-button:hover {
  transform: scale(1.1);
}
