.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.navLinkList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}

.nav-link {
  font-family: "Roboto";
  color: var(--bright-pink);
  font-weight: 500;
  text-decoration: none;
}

.language-list {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-evenly;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.language-link {
  color: var(--light-purple);
  font-weight: 400;
  padding: 0.8rem;
  font-family: "roboto";
}

.booking-button:hover {
  transform: scale(1.1);
}
